html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');



* {
    margin: 0; 
    padding: 0; 
    box-sizing: box-border;  
}

html {
    font-size: 62.5%; 
    font-family: 'DM Sans', sans-serif;
}


header {
    position: relative; 
    background: rgba(0, 0, 0, 0.96);
    height: 100vh; 
    overflow: hidden; 
}

.logo {
    color: #fff; 
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}

li {
    list-style: none; 
}

a { 
    text-decoration: none; 
}

.navBar {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 1rem 1.5rem; 
}

.hamburger {
    display: none; 
}

.bar {
    display: block; 
    width: 25px; 
    height: 3px; 
    margin: 5px auto; 
    -webkit-transition: all 0.3s ease-in-out; 
    transition: all 0.3s ease-in-out; 
    background-color: #fff; 
}

.navMenu {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    z-index: 30; 
}

.navItem {
    margin-left: 5rem; 
}

.navLink {
    font-size: 2rem; 
    font-weight: 400; 
    /* color: #475569;  */
    color: white;  
    display: block;
    position: relative;
    text-decoration: none;
    display: inline-block; 
    padding: 15px 20px; 
}

/* credit: https://codepen.io/jstn/pen/zuDst */
.navLink::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0; 
    content: "";
    display: block; 
    height: 2px;
    left: 50%; 
    position:absolute; 
    background-color: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.navLink:hover::after,
.navLink:focus::after {
    width: 100%;
    left: 0;
}

navLogo {
    font-size: 2.1rem; 
    font-weight: 500; 
    color: #482FF7;
}

.headerTitle {
    position: relative;
    display: flex; 
    justify-content: center;
    width: 100%; 
    height: 100%;
    z-index: 20;
}

h1 {
    z-index: 20;
    position: absolute; 
    font-family: 'Monoton', cursive; 
    font-size: 15rem;  
    margin-top: 150px;
    font-weight: lighter;
    line-height: 1; 
    background-image: linear-gradient(#022486 0%, #0AD0FD 30%, #BDFCFC 40%, #D8FFFF 44%, #00081C 50%, #074A67 52%, #1CD8FE 60%, #7FEDFE 62%, #96F5FC 70%, #0FD8FA 73%, #0BD2FD 88%, #AFFDFF 100%);
    background-clip: text; 
    -webkit-text-fill-color: transparent; 
    -webkit-text-stroke: 1px #fff;  
    text-align: center;
    top: 20%; 
}

h1::before {
    position: absolute;
    content: '';
    left: -30px;
    top: 8px;
    width: 80px;
    height: 3px;
    background-image: radial-gradient(#fff 0%, transparent 90%);
    z-index: 40;
    animation-name: h1BeforeEffect;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

h1::after {
    position: absolute;
    content: '';
    left: 10px;
    top: -30px;
    width: 3px;
    height: 80px;
    background-image: radial-gradient(#fff 0%, transparent 90%);
    z-index: 40;
    animation-name: h1AfterEffect;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.headerH2 {
    position: absolute;   
    /* top: -310px; */
    font-family: 'Mr Dafoe', cursive;
    font-size: 10rem;
    /* margin-top: 160px; */
    /* color: #EB219B; */
    -webkit-text-fill-color: rgba(253, 90, 250, 1);
    text-shadow: -2px -2px 0 #FFBAF2;
    filter: drop-shadow(3px 3px 1px #441F62);
    transform: skew(-5deg,-5deg);
    font-weight: normal;
    z-index: 30;
    text-align: center;
    top: 50%; 
    
}

.headerLogo {
    color: pink; 
    margin: 0 auto; 
    z-index: 10; 
    position: absolute;
    top: 25%;
    margin: 0 auto; 
}

.triangle {
    margin: 0 auto; 
    padding: 0 auto;
}


/* END OF HEADER */

/* MAIN */

.glowingBorder {
    z-index: 60;
    width: 100%; 
    /* height: 10px; */
    background-color: #06f5dd;
    box-shadow: 15px 15px 15px 15px #06f5dd;  
    position: relative;
    bottom: 0;  
    overflow: visible;

}

main {
    /* background-image: url(./assets/background1.jpg);  */
    background-size: 60px 60px;
    background-image:
      linear-gradient(to right, #e215e960 1px,transparent 1px),
      linear-gradient(to bottom, #e215e960 1px, transparent 1px);
      background-color:rgba(0, 0, 0, 0.96);
}

h2 {
    font-size: 7rem;
    font-family: 'Monoton', cursive;
    font-weight: 100;
    text-align: center;
    padding-bottom: 2rem; 
    color: #06f5dd;
}


section {
    padding: 3.5rem; 
}

p {
    font-size: 2rem; 
    line-height: 1.6; 
}

/* skills */

.skills {
    
    padding: 3rem; 
    border-top: none;
}

.skillsList {
    display: flex; 
    flex-direction: row; 
    color: #fff; 
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.skillsList i { 
    font-size: 6rem;
    padding: 1rem; 
}


.skillsList i:hover,
.skillsList i:focus {
    transform: translateY(-1.2rem);
}



/* ABOUT */

.about {
    margin: 0 auto; 
    color: white; 
    display: flex; 
}

.about .wrapper {
    /* background-color: rgb(253, 250, 230);   */
    background-color:rgba(34, 33, 33, 0.96);
    border: 4px solid #f109a4; 
    border-radius: 15px;
    box-shadow: 0 0 40px 20px #f109a4;  
    margin-top: 5rem;
    padding: 3rem;
}


.aboutText p {
    margin: 0 0 0 10px;
    float: right;

}

/* 
.aboutInfo {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
} */

.aboutInfo .polaroid {
    height: 60%; 
    float: left; 
    margin: 3rem;
}

.aboutImg {
    filter: saturate(40%);
}

.aboutInfo .caption {
    color: black; 
    line-height: 3rem;
}

.captionLinks {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    padding-top: 2rem; 
}

.captionLinks a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 2.3rem;
    font-weight: 700;
}

.captionLinks a:hover {
    color: #EC395F;
    text-decoration: underline;
    text-decoration-color: #0AD0FD;
}

/* PROJECTS */

/* styling to give images appearnce of a polaroid  */

.projects {
    width: 95%;
    padding: 0 2rem; 
    text-align: center; 
    margin: 0 auto;
}

.polaroid {
    background-color: #fff;
    padding: 2.8rem;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
}

.polaroid > img {
    width: 400px;
    height: 400px;
    object-fit: fill;
    filter: saturate(40%);
} 

.caption {
    font-size: 4rem; 
    padding: 1rem;
    text-align: center; 
    line-height: 2rem; 
    background-color: #fff;
    font-family: 'Mr Dafoe', cursive; 
}

.project {
    overflow: hidden;
    display: inline-block; 
    margin-top: 2rem; 
    filter: greyscale(100%);
    display: flex; 
    flex-direction: row;
    align-content: space-between;
    margin: 4rem 0;
}

.projectText h3 {
    color: #EC395F; 
    font-size: 4rem;
}

.mindnSoulText,
.critterCatcherText,
.katsellaText,
.timelessText {
    width: 100%; 
    color: white; 
    text-align: left;
    margin: 0 auto;
    padding: 2rem;
}

/* styling on the scrolling aspects */

.jsScroll {
    opacity: 0;
    transition: opacity 500ms;
  }
  
  .jsScroll.scrolled {
    opacity: 1;
  }
  
  .scrolled.slideLeft {
    animation: slideInLeft 1s ease-in-out both;
  }
  
  .scrolled.slideRight {
      animation: slideInRight 1s ease-in-out both;
  }

  /* CONTACT */

  .contact {
      /* background-color: #041584; */
      overflow: hidden;
  }

  .contactForm {
    background-color: #201f1f;
    background-color:rgba(34, 33, 33, 0.96);
    border: 4px solid #f109a4; 
    border-radius: 15px;
    box-shadow: 0 0 40px 20px #f109a4; 
    padding: 2rem; 
    margin: 4rem auto;
      width: 90%;
      padding: 2rem;
      color: white;
  }

  .contact form {
      display: flex; 
      flex-direction: column;
      width: 100%; 
      padding: 2rem;
      font-size: 2rem; 
  } 

  .contactForm input{
    width: 70%; 
  }

  .contact form input, 
  .contact form textarea {
      border-radius: 10px;
      margin: 2rem; 
      padding: .4rem;
      
  }

  .contact form input:focus,
  .contact form textarea:focus {
    -webkit-appearance: none;
    outline: none; 
    border: 4px solid #08e3eb;
  }

  .contactForm button {
      background-color: #f109a4; 
      color: #fff;
      border-radius: 5px;
      border: none; 
      width: 30%;
      text-transform: uppercase;
      padding: .8rem;
      margin: 2rem;
      cursor: pointer;
  }

  .contactForm button:hover, 
  .contactForm button:focus {
    background-color: #e962bc;
    box-shadow: 5px 5px 15px 15px #f109a477;
    font-weight: 700;
  }

  .contactOther {
      background: #EC395F;
      border-radius: 15px;
      width: 95%; 
      margin: 0 auto;
      height: 50%; 
      padding: 2rem; 
      color: white;
      box-shadow: 10px 10px 0 0 #ee718c;
      overflow: visible;
  }  


    .contactOtherFA i {
        color: white; 
        font-size: 6rem;
        margin: 1rem; 
        padding: 1rem; 
    }

    .contactOtherFA i:hover, 
    .contactOtherFA i:focus {
        transform: translateY(-1.2rem);
    }

  .contactOtherFA {
      list-style-type: none;
      display: flex; 
      justify-content: space-evenly;
      flex-wrap: wrap; 
      margin: 0 auto; 

  }

  footer {
    background-color:rgba(0, 0, 0, 0.96);
    text-align: center;
    padding-top: 2rem; 
  }

  footer p {
      font-size: 2.3rem; 
      color: #f109a4;
  }

  footer a {
      text-decoration: none;
      color: #08e3eb;
  }

  footer a:hover,
  footer a:focus {
      text-decoration: underline;
  }


/* ANIMATION */
@keyframes h1BeforeEffect {
    0% {
        left: -30px;
        top: 8px;
        opacity: 0;}
      
      15% {
        left: -30px;
        top: 8px;
        opacity: 1;}
      
      30% {
        left: -30px;
        top: 8px;
        opacity: 0;}
      
      35% {
        left: 375px;
        top: 50px;
        opacity: 0;}
       
      50% {
        left: 375px;
        top: 50px;
        opacity: 1;}
      
      65% {
        left: 375px;
        top: 50px;
        opacity: 0;}
      
      70% {
        left: 810px;
        top: 130px;
        opacity: 0;}
       
      85% {
        left: 810px;
        top: 130px;
        opacity: 1;}
      
      100% {
        left: 810px;
        top: 130px;
        opacity: 0;}
}

@keyframes h1AfterEffect {
    0% {
        left: 8px;
        top: -30px;
        opacity: 0;}
      
      15% {
        left: 8px;
        top: -30px;
        opacity: 1;}
      
      30% {
        left: 8px;
        top: -30px;
        opacity: 0;}
      
      35% {
        left: 413px;
        top: 11px;
        opacity: 0;}
       
      50% {
        left: 413px;
        top: 11px;
        opacity: 1;}
      
      65% {
        left: 413px;
        top: 11px;
        opacity: 0;}
      
      70% {
        left: 840px;
        top: 95px;
        opacity: 0;}
       
      85% {
        left: 840px;
        top: 95px;
        opacity: 1;}
      
      100% {
        left: 840px;
        top: 95px;
        opacity: 0;}
}

/* animation on the project slide */

@keyframes slideInLeft {
    0% {
      -webkit-transform: translateX(-100px);
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInRight {
    0% {
      -webkit-transform: translateX(100px);
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }


/* MEDIA QUERIES */


@media (max-width: 768px) {
    .navMenu {
        position: fixed; 
        left: -100%; 
        top: 5rem; 
        flex-direction: column; 
        background-color: #08e3eb; 
        width: 100%; 
        border-radius: 10px; 
        text-align: center; 
        transition: 0.3s; 
        box-shadow: 
        0 10px 27px rgba(0, 0, 0, 0.05); 
        z-index: 400;
    }

    .navMenu.active {
        left: 0; 
    }

    .navItem {
        margin: 2.5rem 0;  
    }

    .hamburger {
        display: block; 
        cursor: pointer; 
        z-index: 40; 
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0; 
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    h1 {
        font-size: 9rem;
    }

    h2 {
        font-size: 6rem; 
    }

    .project {
        display: flex; 
        flex-direction: column; 
        padding-bottom: 2rem; 
    }

    .project:nth-child(odd) {
        flex-direction: column-reverse;
    }

    .polaroid {
        background-color: #fff;
        padding: 2rem;
        box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
        width: 300px; 
        margin: 1.8rem auto; 
        border: 3px solid red; 
        
    }

    .polaroid > img {
        width: 250px;
        height: 250px;
        margin: 0 auto; 
    }

    .wrapper {
        width: 80%; 
        margin: 0 auto;
    }
}