html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');


* {
    margin: 0; 
    padding: 0; 
    box-sizing: box-border;  
}

html {
    font-size: 62.5%; 
    font-family: 'DM Sans', sans-serif;
}

header {
    position: relative; 
    background: rgb(0,0,75);
    background: linear-gradient(0deg, rgba(0,0,75,1) 0%, rgba(161,45,96,1) 100%); 
    height: 50vh; 
    overflow: hidden; 
}

.logo {
    color: #fff; 
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}

li {
    list-style: none; 
}

a { 
    text-decoration: none; 
}

.navBar {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 1rem 1.5rem; 
}

.hamburger {
    display: none; 
}

.bar {
    display: block; 
    width: 25px; 
    height: 3px; 
    margin: 5px auto; 
    -webkit-transition: all 0.3s ease-in-out; 
    transition: all 0.3s ease-in-out; 
    background-color: #fff; 
}

.navMenu {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    z-index: 30; 
}

.navItem {
    margin-left: 5rem; 
}

.navLink {
    font-size: 2rem; 
    font-weight: 400; 
    /* color: #475569;  */
    color: white;  
    display: block;
    position: relative;
    text-decoration: none;
    display: inline-block; 
    padding: 15px 20px; 
}

/* hover animation on links created with tutorial */
.navLink:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0; 
    content: "";
    display: block; 
    height: 2px;
    left: 50%; 
    position:absolute; 
    background-color: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.navLink:hover:after,
.navLink:focus:after {
    width: 100%;
    left: 0;
}

navLogo {
    font-size: 2.1rem; 
    font-weight: 500; 
    color: #482FF7;
}

h1 {
    font-size: 8rem; 
    color: white; 
    text-transform: uppercase; 
    text-align: left; 
    text-align: center;
    margin: 0 auto;
    position: absolute;
    z-index: 50; 
    overflow: hidden;
    padding-left: 3rem;
    animation: fadeIn ease 4s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


span {
    text-transform: none; 
}

 /* .oval {
    position: absolute; 
    width: 70%;
    height: 150%;
    transform: rotate(180deg);
    top: -10%; 
    right: -15%; 
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    background-color: #000;
    z-index: 10;  
} */

/* MAIN */

main {
    content: "";
    background-image: url(./assets/background1.jpg); 
    opacity: 0.5; 
}

.wrapper {
    width: 90%;
    margin: 0 auto; 
}

h2 {
    font-size: 6rem;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 2rem; 
}

h3 {
    font-size: 3rem;
    margin-top: 0;
    text-align: center;
    color: #EC395F;
}

section {
    padding: 3.5rem; 
}

p {
    font-size: 2rem; 
    line-height: 1.6; 
}

/* skills */

.skills {
    background-color:  rgba(0,0,75,1);
    padding: 3rem; 
    border-top: none;
}

.skills h2 {
    color: #fff; 
    text-align: center;
}

.skillsList {
    display: flex; 
    flex-direction: row; 
    color: #fff; 
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skillsList i {
    display: flex; 
    font-size: 6rem;
    padding: 1rem; 
}

.skillsList i:hover,
.skillsList i:focus {
    transform: translateY(-1.2rem); 
}

/* ABOUT */

.about {
    margin: 0 auto; 
    border-bottom: 4px solid rgba(156, 156, 156, 0.404); 
}

.about h3 {
    color: #EC395F;
    text-align: center;
}

.about h2,
.projects h2 {
    text-align: center;
    color: #041584;
}

.aboutImg {
    border-radius: 15px; 
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 400px; 
}

.aboutInfo {
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
}

.aboutInfo p {
    /* display: inline; */
    width: 50%;  
    padding: 2rem; 
}

/* PROJECTS */
    .projects img {
        width: 100%;
        border-radius: 15px; 
    }

  .projectDescription {
      display: flex; 
      flex-direction: row;
      justify-content: space-around;
      align-content: center; 
      flex-wrap: wrap; 
      color: white; 
  }

  .projectDescription a {
      color: #fff; 
      text-decoration: none;
      font-size: 2rem; 
      padding: 2rem;
      margin-top: 2rem;

  }

  .projectDescription a:hover,
  .projectDescription a:focus {
      color: #ee718c;
  }

  .projectDescription i {
      font-size: 2rem;
  }

  .mindnSoul, 
  .critterFinder,
  .katsella, 
  .timeless {
      width: 40%;
      background-color: #313c86;
      margin:3rem; 
      padding: 2rem;
      border-radius: 15px;
      box-shadow: 10px 10px 0 0 #041584
  }

  /* CONTACT */

  .contact {
      background-color: #041584;
      overflow: hidden;
  }

  .contact h2 {
      color: #fff;
  }

  .contact .wrapper {
      display: flex; 
      justify-content: space-between;
      overflow: visible;
  }

  .contactForm {
      background-color: #EC395F;
      width: 60%;
      border-radius: 15px;
      box-shadow: 10px 10px 0 0 #ee718c; 
      padding: 2rem;
      color: white;
  }

  .contact form {
      display: flex; 
      flex-direction: column;
      width: 100%; 
      padding: 2rem;
      font-size: 2rem; 
  } 

  .contactForm input{
    width: 70%; 
  }

  .contact form input, 
  .contact form textarea {
      border-radius: 10px;
      margin: 1rem; 
      padding: .4rem;
      
  }

  .contact form input:focus,
  .contact form textarea:focus {
    -webkit-appearance: none;
    outline: none; 
    border: 4px solid #482FF7;
  }

  .contactForm button {
      background-color: #313c86; 
      color: #ee718c;
      border-radius: 15px;
      border: none; 
      width: 30%;
      text-transform: uppercase;
      padding: .4rem;
      cursor: pointer;
  }

  .contactForm button:hover, 
  .contactForm button:focus {
      background-color: #fff; 
  }

  .contactOther {
      background: #EC395F;
      border-radius: 15px;
      width: 35%; 
      height: 50%; 
      padding: 2rem; 
      color: white;
      box-shadow: 10px 10px 0 0 #ee718c;
      overflow: visible;
  }  


    .contactOtherFA i {
        color: white; 
        font-size: 6rem;
        margin: 1rem; 
        padding: 1rem; 
    }

    .contactOtherFA i:hover, 
    .contactOtherFA i:focus {
        color: #313c86;
    }

  .contactOtherFA {
      list-style-type: none;
      display: flex; 
      justify-content: space-evenly;
      flex-wrap: wrap; 
      margin: 0 auto; 

  }

  footer {
      text-align: center;
      padding-top: 2rem; 

  }

  footer p {
      font-size: 2.3rem; 
      color: #041584;
  }

  footer a {
      text-decoration: none;
      color: #EC395F;
  }

  footer a:hover,
  footer a:focus {
      text-decoration: underline;
  }


/* ANIMATION */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1; 
    }
}


/* MEDIA QUERIES */

@media (max-width: 860px) {

    .aboutInfo {
        display: flex; 
        flex-direction: column;
    }

    .aboutImg {
        margin: 0 auto;
    }

    .about p {
        width: 100%; 
    }

    .projectDescription {
        display: flex; 
        flex-direction: column;
    }

    .mindnSoul,
    .critterFinder,
    .katsella,
    .timeless {
        margin: 1rem auto; 
        width: 80%; 
    }

    .contact .wrapper {
        display: flex; 
        flex-direction: column;
    }

    .contactForm,
    .contactOther {
        width: 100%; 
        margin: 2rem auto;
    }

    .contact form input,
    .contact form textarea,
    .contact form button {
        width: 100%; 
        margin: 1rem auto; 
    }
}

@media (max-width: 768px) {
    .navMenu {
        position: fixed; 
        left: -100%; 
        top: 5rem; 
        flex-direction: column; 
        background-color: #ee718c; 
        width: 100%; 
        border-radius: 10px; 
        text-align: center; 
        transition: 0.3s; 
        box-shadow: 
        0 10px 27px rgba(0, 0, 0, 0.05); 
        z-index: 400;
    }

    .navMenu.active {
        left: 0; 
    }

    .navItem {
        margin: 2.5rem 0;  
    }

    .hamburger {
        display: block; 
        cursor: pointer; 
        z-index: 40; 
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0; 
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media (max-width: 440px) {
    h1 {
        font-size: 5rem;
        text-align: center;
    }

    h2 {
        font-size: 4rem;
    }

    .aboutImg {
        height: 200px;
        width: 200px;
    }
}